
(listfile)
Patch-Z - Copy.mpq
1.exe
Patch-X - Copy.mpq
(listfile)2
Patch-Y - Copy.mpq
(listfile)3
New folder/Patch-X.zip
New folder/Patch-X.z01
New folder/Patch-Z.mpq
New folder/Patch-Y.mpq
New folder/Patch-X.mpq
